//button plus
:host ::ng-deep {
  .speeddial-tooltip {
    .p-speeddial-direction-up {
      &.speeddial-right {
        right: 0;
        bottom: 0;
      }
    }
  }
}

.alignText{
  text-align:center;
}
.TextColorGray{
color:gray;
}

#selectCatogory{
  padding: 4% 10% 4% 10%;
  border-color: rgb(186, 186, 186);
  border-radius: 5%;
 }
 .option
 {
   color: rgb(59, 59, 59)
 }
