<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>template_1</title>
<script id="applicationScript" type="text/javascript" src="template_1.js"></script>
</head>
<body>
<div id="template_1">
	<div id="template_1_g">
		<div id="div">
			<div id="section" class="section">
				<svg class="section_j">
					<rect id="section_j" rx="0" ry="0" x="0" y="0" width="798" height="182">
					</rect>
				</svg>
			</div>
			<div id="title">
				<span>NOM<br/>PRENOM</span>
			</div>
		</div>
		<div id="list2">
			<div id="numero">
				<span>237 690909090</span>
			</div>
		</div>
		<div id="div_n">
			<svg class="section_o" viewBox="0 0 334 975.56">
				<path id="section_o" d="M 30 0 L 304 0 C 320.5685424804688 0 334 14.44673538208008 334 32.26768493652344 L 334 943.2920532226562 C 334 961.1129760742188 320.5685424804688 975.5596923828125 304 975.5596923828125 L 30 975.5596923828125 C 13.43145751953125 975.5596923828125 0 961.1129760742188 0 943.2920532226562 L 0 32.26768493652344 C 0 14.44673538208008 13.43145751953125 0 30 0 Z">
				</path>
			</svg>
			<img id="img" src="">

			<div id="Contact">
				<span>Contact </span>
			</div>
			<div id="Mail">
				<span>Mail </span>
			</div>
			<div id="Social">
				<span>Social networks  </span>
			</div>
			<svg class="line" viewBox="0 0 239 1">
				<path id="line" d="M 0 1 L 139.6262817382812 0 L 239 0">
				</path>
			</svg>
			<svg class="line_u" viewBox="0 0 239.5 3">
				<path id="line_u" d="M 0 0 L 239.5 3">
				</path>
			</svg>
			<div id="list2_v">
				<div id="email">
					<span>tpict202@gmail.com</span>
				</div>
			</div>
			<div id="prenom">
				<span>Prenom</span>
			</div>
			<div id="nom">
				<span>Nom</span>
			</div>
			<div id="dateN">
				<span>Date de naissance</span>
			</div>
			<div id="LieuN">
				<span>Lieu de naissance</span>
			</div>
			<div id="adress">
				<span>Adresse (Rue)</span>
			</div>
			<svg class="line_" viewBox="0 0 242 3">
				<path id="line_" d="M 0 0 L 242 3">
				</path>
			</svg>
			<svg class="line_ba" viewBox="0 0 242 3">
				<path id="line_ba" d="M 0 0 L 242 3">
				</path>
			</svg>
			<div id="langue">
				<span>Langue :</span>
			</div>
			<div id="list3">
				<div id="langues">
					<span>francais</span>
				</div>
			</div>
			<div id="loisir">
				<span>Loisirs </span>
			</div>
			<div id="list4">
				<div id="loisirs">
					<span>Football</span>
				</div>
			</div>
		</div>
		<div id="list1">
			<div id="GitHub">
				<span>GitHub.com/,,,/</span>
			</div>
			<div id="StackOverflow">
				<span>StackOverflow.com/,,,/</span>
			</div>
		</div>
		<div id="div_bd">
			<div id="h1">
				<span>COMPETENCE </span>
			</div>
			<div id="div_bf">
				<div id="level">
					<span>Niveau</span>
				</div>
				<div id="Nom_de_la_competence">
					<span>Nom de la competence</span>
				</div>
			</div>
		</div>
		<div id="div_bi">
			<div id="h1_bj">
				<span>FORMATION </span>
			</div>
			<div id="div_bk">
				<div id="form">
					<span>Nom Doplime</span>
				</div>
				<div id="periode">
					<span>periode</span>
				</div>
				<div id="Etablissement">
					<span>Etablissement</span>
				</div>
			</div>
		</div>
		<div id="div_bo">
			<div id="h1_bp">
				<span>EXPERIENCE </span>
			</div>
			<div id="exp">
				<span>Poste occuper</span>
			</div>
			<div id="periode_br">
				<span>periode</span>
			</div>
			<div id="name_entreprise">
				<span>name entreprise</span>
			</div>
			<div id="Text-area">
				<span>details sur l'exprience</span>
			</div>
			<div id="pays">
				<span>pays</span>
			</div>
		</div>
		<div id="div_bv">
			<div id="Text-Area">
				<div id="TextArea">
					<span>Details de la description<br/>Details de la description descriptioin</span>
				</div>
			</div>
			<div id="DESCRIPTION">
				<span>DESCRIPTION</span>
			</div>
		</div>
	</div>
</div>

</body>
</html>
