<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>template_1</title>
<script id="applicationScript" type="text/javascript" src="template_1.js"></script>
</head>
<body>
<div id="template_1">
	<div id="template_1_g">
		<div id="div">
			<div id="section" class="section">
				<svg class="section_j">
					<rect id="section_j" rx="0" ry="0" x="0" y="0" width="798" height="238">
					</rect>
				</svg>
			</div>
			<div id="title">
				<span>Papa<br/>Dollars</span>
			</div>
		</div>
		<div id="list2">
			<div id="numero">
				<span>237 690909090</span>
			</div>
			<div id="num">
				<span>237 690909090</span>
			</div>
		</div>
		<div id="div_o">
			<svg class="section_p">
				<rect id="section_p" rx="30" ry="30" x="0" y="0" width="334" height="907">
				</rect>
			</svg>
			<img id="img" src="">

			<div id="Contact">
				<span>Contact :</span>
			</div>
			<div id="Mail">
				<span>Mail :</span>
			</div>
			<div id="Social">
				<span>Social networks  :</span>
			</div>
			<svg class="line" viewBox="0 0 239 1">
				<path id="line" d="M 0 1 L 139.6262817382812 0 L 239 0">
				</path>
			</svg>
			<svg class="line_v" viewBox="0 0 239.5 3">
				<path id="line_v" d="M 0 0 L 239.5 3">
				</path>
			</svg>
			<div id="tpict">
				<span>tpict202@gmail.com</span>
			</div>
		</div>
		<div id="list1">
			<div id="GitHub">
				<span>GitHub.com/,,,/</span>
			</div>
			<div id="StackOverflow">
				<span>StackOverflow.com/,,,/</span>
			</div>
			<div id="Linkedin">
				<span>Linkedin.com/,,,/</span>
			</div>
		</div>
		<div id="div_">
			<div id="h1">
				<span>OBJECTIVE :</span>
			</div>
			<div id="objectif2">
				<span>L’un des objectifs les plus utilisés dans <br/>les entreprises étant les objectifs</span>
			</div>
		</div>
		<div id="div_ba">
			<div id="h1_">
				<span>DIPLOME :</span>
			</div>
			<div id="objectif">
				<span>L’un des objectifs les plus utilisés dans <br/>les entreprises étant les objectifs</span>
			</div>
		</div>
		<div id="div_bb">
			<div id="h1_ba">
				<span>FORMATION :</span>
			</div>
			<div id="form">
				<span>L’un des objectifs les plus utilisés dans <br/>les entreprises étant les objectifs</span>
			</div>
		</div>
		<div id="div_bc">
			<div id="h1_bb">
				<span>EXPERIENCE :</span>
			</div>
			<div id="exp">
				<span>* L’un des objectifs les plus utilisés dans <br/>* les entreprises étant les objectifs</span>
			</div>
		</div>
		<div id="p">
			<span>Address :<br/>Universite Yaoundé 1<br/>Univ Yaoundé 1</span>
		</div>
	</div>
</div>
</body>
</html>
