.img{
  padding-left:3%;
  width: 350px;
  height: 450px;
}
#template1
{
  display: none;
}

#template2
{
  display: none;
}
#template3
{
  display: none;
}
#template4
{
  display: none;
}
#template5
{
  display: none;
}
#template6
{
  display: none;
}
