<h2 style="color:#12c5ed" >Downloads</h2>


<div class="grid">
  <div class="col">
    <img src="./assets/images/template1.png" class="img" alt="">
  </div>
  <div class="col">
    <img src="./assets/images/template1.png" class="img" alt="">
  </div>
</div>
<div class="grid">
  <div class="col">
    <img src="./assets/images/template1.png" class="img" alt="">
  </div>
  <div class="col">
    <img src="./assets/images/template1.png" class="img" alt="">
  </div>
</div>
<div class="grid">
  <div class="col">
    <img src="./assets/images/template1.png" class="img" alt="">
  </div>
  <div class="col">
    <img src="./assets/images/template1.png" class="img" alt="">
  </div>
</div>

