<h2 style="color:#12c5ed">Experiences</h2>


<p-accordion>
  <p-accordionTab header="Experiences">

    <div class="card">
      <p-timeline [value]="experience">
        <ng-template pTemplate="content" let-event>
          <small class="p-text-primary">{{event.entreprise}}</small><br>
          <small class="p-text-secondary">{{event.periode}}</small><br>
          <small class="p-text-secondary">{{event.categorie}}</small><br><br>
          <small class="p-text-secondary"></small>
        </ng-template>
        <ng-template pTemplate="opposite" let-event>
          {{event.poste}}<br>{{event.detail}}
          <br>
          <i (click)="experienceEDITfunction(event)" class="pi pi-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          <i (click)="DeleteExperience(event.id)"  class="pi pi-trash"></i>&nbsp;&nbsp;
        </ng-template>
      </p-timeline>
    </div>

    <!-- start Button Plus -->
    <div class="card">
      <div style="height: 90px; position: relative;" class="speeddial-tooltip">
        <p-speedDial (click)="ExperienceADDfunction()" className="speeddial-right" direction="up"></p-speedDial>
      </div>
    </div>
    <!-- end Button Plus -->
    <!-- start ADD Experience PopPup Dialog -->
    <p-dialog header="ADD" [(visible)]="ExperienceADD" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Experience -->
          <div class="field">
            <label for="Experience" class="block TextColorGray">{{'post' | translate}} : </label>
            <input id="Experience" type="username" #poste pInputText />
          </div>
          <div class="field">
            <label for="Experience" class="block TextColorGray">{{'company' | translate}} : </label>
            <input id="Experience" type="username" #enterprise pInputText />
          </div>
          <div class="field">
            <label for="Experience" class="block TextColorGray">{{'period' | translate}} : </label>
            <input id="Experience" type="date" #periode pInputText />
          </div>
          <div class="field pt-2">
            <label for="Description" class="block TextColorGray">{{'details' | translate}} : </label>
            <textarea id="float-input" rows="5" cols="30" #details pInputTextarea></textarea>
          </div>
          <div class="field pt-2">
            <label for="Description" class="block TextColorGray">{{'country' | translate}} : </label>
            <input id="float-input" #pays  pInputText />
          </div>
          <div class="field">
            <label for="Certificate" class="block TextColorGray">{{'selectCategory' | translate}} : </label>
            <select name="select" #catego id="selectCatogory">
              <option class="option" value=""></option>
              <option class="option" >{{'webDeveloper' | translate}}</option>
              <option class="option" >{{'frontEndDeveloper' | translate}}</option>
              <option class="option" >{{'backEndDeveloper' | translate}}</option>
              <option class="option" >{{'databaseManager' | translate}}</option>
              <option class="option" >{{'mobileDeveloper' | translate}}</option>
              <option class="option" >{{'managementController' | translate}}</option>
              <option class="option" >{{'others_' | translate}}</option>
            </select>
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="ExperienceADD=false">&nbsp;
          {{'reset' | translate}}
        </button>
        <button (click)="setexperience(poste.value,enterprise.value,periode.value,details.value,pays.value,catego.value)" pButton>
          {{'submit' | translate}}
        </button>
      </ng-template>
    </p-dialog>
    <!-- end ADD Experience PopPup Dialog -->
    <!-- start EDIT Experience PopPup Dialog -->
    <p-dialog header="EDIT" [(visible)]="experienceEDIT" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Experience -->
          <div class="field">
            <label for="Experience" class="block TextColorGray">{{'post' | translate}} : </label>
            <input id="Experience"  value="{{post}}" #postt type="username" pInputText />
          </div>
          <div class="field">
            <label for="Experience" class="block TextColorGray">{{'company' | translate}} : </label>
            <input id="Experience" value="{{entrepris}}" #enterprisee type="username" pInputText />
          </div>
          <div class="field">
            <label for="Experience" class="block TextColorGray">{{'period' | translate}} : </label>
            <input id="Experience" value="{{period}}" #periodd type="date" pInputText />
          </div>
          <div class="field pt-2">
            <label for="Description" class="block TextColorGray">{{'details' | translate}} : </label>
            <textarea id="float-input" value="{{detail}}" #detaill rows="5" cols="30" pInputTextarea></textarea>
          </div>
          <div class="field pt-2">
            <label for="Description" class="block TextColorGray">{{'country' | translate}} : </label>
            <input id="float-input" value="{{pay}}" #payy  pInputText />
          </div>
          <div class="field">
            <label for="Certificate" class="block TextColorGray">{{'selectCategory' | translate}}: </label>
            <select name="select" value="{{cat}}" #catt  id="selectCatogory">
              <option class="option" value=""></option>
              <option class="option" >{{'webDeveloper' | translate}}</option>
              <option class="option" >{{'frontEndDeveloper' | translate}}</option>
              <option class="option" >{{'backEndDeveloper' | translate}}</option>
              <option class="option" >{{'databaseManager' | translate}}</option>
              <option class="option" >{{'mobileDeveloper' | translate}}</option>
              <option class="option" >{{'managementController' | translate}}</option>
              <option class="option" >{{'others_' | translate}}</option>
            </select>
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="experienceEDIT=false">&nbsp;
          {{'reset' | translate}}
        </button>
        <button (click)="updateExperience(postt.value,enterprisee.value,periodd.value,detaill.value,payy.value,catt.value)" pButton>
          {{'submit' | translate}}
        </button>
      </ng-template>
    </p-dialog>
    <!-- end EDIT Experience PopPup Dialog -->
  </p-accordionTab>
</p-accordion>
