<div class="grid">
  <div class="col card">
    <p-tabView  *ngIf="isConnection" >

      <!-- Sign in -->

      <p-tabPanel header="Sign In"  >
        <div class="grid" style="background-color:#f1f2f6">
          <div class="col alignText">

            <h1 class="titleConnection">
              <i class="pi pi-user" style="font-size: 3rem"></i>
              <br> &nbsp;Sign Up
            </h1>

            <!-- address -->
            <div class="field">
              <label for="address" class="block TextColorGray">Address Email : </label>
              <input id="address" type="mailto" pInputText pTooltip="Enter your Address Email" #emails tooltipPosition="top" />
            </div><br>

            <!-- password -->
            <div class="field">
              <label for="password" class="block TextColorGray">Password : </label>
              <input id="password" type="password" #password pPassword />
            </div><br><br><br><br>

            <!-- button valid -->
            <button pButton type="button" label="Connect" class="p-button-primary"
              style="border-color:#0abde3; background:#0abde3" (click)="onssignedin(emails.value , password.value)">
            </button>

          </div>
        </div>
      </p-tabPanel>

      <!-- Sign up -->

      <p-tabPanel header="Sign Up" *ngIf="isRegister">
        <div class="grid" style="background-color:#f1f2f6">
          <div class="col">

            <h1 class="titleRegister alignText">
              <i class="pi pi-user-plus" style="font-size: 3rem"></i>
              <br> &nbsp;Sign Up
            </h1>

            <!-- First Step -->
            <strong class="colorSTEP">FIRST STEP</strong><br><br><br>

            <div class="Fiest_step alignText">
              <!-- firstName -->
              <div class="field">
                <label for="FirstName" class="block TextColorGray">First Name : </label>
                <input id="FirstName" type="username" #prenom pInputText />
              </div>

              <!-- lastName -->
              <div class="field">
                <label for="lastName" class="block TextColorGray">Last Name : </label>
                <input id="lastName" type="username" #nom pInputText />
              </div>
            </div><br><br><br><br>

            <!-- Second Step -->
            <strong class="colorSTEP">SECOND STEP</strong>
            <hr><br><br>

            <div class="Second_step alignText">
              <!-- birth date -->
              <div class="field">
                <label for="birthDate" class="block TextColorGray">Birth Date : </label>
                <input id="birthDate" type="date" #dateN pInputText />
              </div>

              <!-- birthplace -->
              <div class="field">
                <label for="birthPlace" class="block TextColorGray">Birth Place :
                </label>
                <input id="birthPlace" type="username" #LiueN pInputText />
              </div>

              <!-- address -->
              <div class="field">
                <label for="address" class="block TextColorGray">Address Email :
                </label>
                <input id="address" type="mailto"  pInputText #mail  />
              </div>
            </div><br><br><br><br>

            <!-- THRID STEP -->
            <strong class="colorSTEP">THIRD STEP</strong>
            <hr><br><br>

            <div class=" thrid_step alignText">
              <!-- password -->
              <div class="field">
                <label for="password" class="block TextColorGray">Password : </label>
                <input id="password" type="password" pPassword  #pwd1>
              </div>

              <!-- confirm password -->
              <div class="field">
                <label for="confirmPassword" class="block TextColorGray">Confirm Password :
                </label><br>
                <input id="confirmPassword" type="password" pPassword  #pwd2>
              </div>
              <br><br><br><br>

              <!-- button valid -->
              <button (click)="sigmups(prenom.value,nom.value,dateN.value,LiueN.value,mail.value,pwd1.value,pwd2.value)" pButton type="button" label="Register" class="p-button-success"
                style="border-color:#00b894; background:#00b894">
              </button>

            </div>

          </div>
        </div>
      </p-tabPanel>

    </p-tabView>
  </div>
</div>


<app-home *ngIf="isSignedIn" (isLogout)="handlelogout()"></app-home>
