<h2 style="color: #00b7e0">Informations</h2>


<!-- section Picture -->


<p-accordion>
  <p-accordionTab header="Picture">
   <div>
     <input type="file" id="inputFle" (change)="updateImage($event) ">
     <img [src]=info[0].photo   width="150" height="140" id="Image" alt="">
   </div>
  </p-accordionTab>


  <!-- section Personal Information -->


  <p-accordionTab header="Personal Information">

    <strong>
      <i>
        <p>{{'firstName' | translate}} : {{info[0].prenom}}</p>
        <p>{{'lastName' | translate}} : {{info[0].nom}} </p>
        <p>{{'birthDate' | translate}} : {{info[0].dateNaissance}}</p>
        <p>{{'birthPlace' | translate}} : {{info[0].site}} </p>
        <p>{{'AddressStreet' | translate}} : Yaounde</p>
      </i>
    </strong>

    <!-- start Button Plus -->
    <div class="card">
      <div style="height: 90px; position: relative;" class="speeddial-tooltip">
        <p-speedDial [model]="TooltipIformation" className="speeddial-right" direction="up"></p-speedDial>
      </div>
    </div>
    <!-- end Button Plus -->

    <!-- start EDIT Information PopPup Dialog -->
    <p-dialog header="EDIT" [(visible)]="InformationEDIT" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">

          <!-- firstName -->
          <div class="field">
            <label for="FirstName" class="block TextColorGray">{{'firstName' | translate}} : </label>
            <input id="FirstName" type="username" pInputText #prenom value="{{info[0].prenom}}"/>
          </div>

          <!-- lastName -->
          <div class="field">
            <label for="lastName" class="block TextColorGray">{{'lastName' | translate}} : </label>
            <input id="lastName" type="username" pInputText #nom value="{{info[0].nom}}" />
          </div>

          <!-- birth date -->
          <div class="field">
            <label for="birthDate" class="block TextColorGray">{{'birthDate' | translate}} : </label>
            <input id="birthDate" type="date" pInputText #dateN value="{{info[0].dateNaissance}}" />
          </div>

          <!-- birthplace -->
          <div class="field">
            <label for="birthPlace" class="block TextColorGray">{{'birthPlace' | translate}} :
            </label>
            <input id="birthPlace" type="username" pInputText #LieuN value="{{info[0].site}}" />
          </div>

          <!-- address -->
          <div class="field">
            <label for="address" class="block TextColorGray">{{'AddressStreet' | translate}} :
            </label>
            <input id="address" type="mailto" pInputText value="Yaounde" />
          </div>

        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="InformationEDIT=false">&nbsp;
          {{'reset' | translate}}
        </button>
        <button pButton (click)="updateinfo(prenom.value,nom.value,dateN.value,LieuN.value)">{{'submit' | translate}} </button>
      </ng-template>
    </p-dialog>
    <!-- end EDIT Information PopPup Dialog -->
  </p-accordionTab>


  <!-- section Occupation -->


  <p-accordionTab header="Occupation">
    <i (click)="OccupationEDITfunction()" class="pi pi-pencil"></i>&nbsp;&nbsp;
    <i class="pi pi-trash"></i>&nbsp;&nbsp;
    example : Wev developper

    <!-- start Button Plus -->
    <div class="card">
      <div style="height: 90px; position: relative;" class="speeddial-tooltip">
        <p-speedDial (click)="OccupationADDfunction()" className="speeddial-right" direction="up"></p-speedDial>
      </div>
    </div>
    <!-- end Button Plus -->

    <!-- start ADD Occupation PopPup Dialog -->
    <p-dialog header="ADD" [(visible)]="OccupationADD" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- occupation -->
          <div class="field">
            <label for="Occupation" class="block TextColorGray">Occupation : </label>
            <input id="Occupation" type="username" pInputText />
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="OccupationADD=false">&nbsp;
          {{'reset' | translate}}
        </button>
        <button pButton>{{'submit' | translate}}</button>
      </ng-template>
    </p-dialog>
    <!-- end ADD Occupation PopPup Dialog -->
    <!-- start EDIT Occupation PopPup Dialog -->
    <p-dialog header="EDIT" [(visible)]="OccupationEDIT" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- occupation -->
          <div class="field">
            <label for="Occupation" class="block TextColorGray">Occupation : </label>
            <input id="Occupation" type="username" pInputText />
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="OccupationEDIT=false">&nbsp;
          {{'reset' | translate}}
        </button>
        <button pButton>{{'submit' | translate}}</button>
      </ng-template>
    </p-dialog>
    <!-- end EDIT Occupation PopPup Dialog -->
  </p-accordionTab>


  <!-- section contact -->


  <p-accordionTab header="Contact">
    <li *ngFor="let num of  conctacts">
    {{num.contact}}&nbsp;&nbsp;
    <i (click)="ContactEDITfunction(num)" class="pi pi-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    <i (click)="DeleteContact(num)" class="pi pi-trash"></i>&nbsp;&nbsp;
  </li>

    <!-- start Button Plus -->
    <div class="card">
      <div style="height: 90px; position: relative;" class="speeddial-tooltip">
        <p-speedDial (click)="ContactADDfunction()" className="speeddial-right" direction="up"></p-speedDial>
      </div>
    </div>
    <!-- end Button Plus -->

    <!-- start ADD Contact PopPup Dialog -->
    <p-dialog header="ADD" [(visible)]="ContactADD" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Contact -->
          <div class="field">
            <label for="Contact" class="block TextColorGray">Contact : </label>
            <input id="Contact" #contact type="username" pInputText />
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="ContactADD=false">&nbsp;
          {{'reset' | translate}}
        </button>
        <button pButton (click)="setcontact(contact.value)">{{'submit' | translate}}</button>
      </ng-template>
    </p-dialog>
    <!-- end ADD Contact PopPup Dialog -->
    <!-- start EDIT Contact PopPup Dialog -->
    <p-dialog header="EDIT" [(visible)]="ContactEDIT" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Contact -->
          <div class="field">
            <label for="Contact" class="block TextColorGray">Contact : </label>
            <input id="Contact" #cont value="{{num}}" type="username" pInputText />
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="ContactEDIT=false">&nbsp;
          {{'reset' | translate}}
        </button>
        <button (click)="updatecontact(cont.value)" pButton>{{'submit' | translate}}</button>
      </ng-template>
    </p-dialog>
    <!-- end EDIT Occupation PopPup Dialog -->
  </p-accordionTab>


  <!-- section Email -->


  <p-accordionTab header="Email">
    <li *ngFor="let mail of emails">
      {{mail.email}}
     <i (click)="EmailEDITfunction(mail)" class="pi pi-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;
     <i (click)="DeleteMail(mail)" class="pi pi-trash"></i>&nbsp;&nbsp;
  </li>
    Email

    <!-- start Button Plus -->
    <div class="card">
      <div style="height: 90px; position: relative;" class="speeddial-tooltip">
        <p-speedDial (click)="EmailADDfunction()" className="speeddial-right" direction="up"></p-speedDial>
      </div>
    </div>
    <!-- end Button Plus -->

    <!-- start ADD Email PopPup Dialog -->
    <p-dialog header="ADD" [(visible)]="EmailADD" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Email -->
          <div class="field">
            <label for="Email" class="block TextColorGray">Email : </label>
            <input id="Email" #email type="username" pInputText />
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="EmailADD=false">&nbsp;
          {{'reset' | translate}}
        </button>
        <button (click)="setmail(email.value)" pButton>{{'submit' | translate}}</button>
      </ng-template>
    </p-dialog>
    <!-- end ADD Email PopPup Dialog -->
    <!-- start EDIT Email PopPup Dialog -->
    <p-dialog header="EDIT" [(visible)]="EmailEDIT" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Email -->
          <div class="field">
            <label for="Email" class="block TextColorGray">Email : </label>
            <input id="Email" value="{{mails}}" #emailset type="username" pInputText />
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="EmailEDIT=false">&nbsp;
          {{'reset' | translate}}
        </button>
        <button (click)="updatemail(emailset.value)" pButton>{{'submit' | translate}}</button>
      </ng-template>
    </p-dialog>
    <!-- end EDIT Email PopPup Dialog -->
  </p-accordionTab>


  <!-- section Description -->


  <p-accordionTab header="Description">
    {{info[0].biographie}}

    <!-- start Button Plus -->
    <div class="card">
      <div style="height: 90px; position: relative;" class="speeddial-tooltip">
        <p-speedDial [model]="TooltipDescription" className="speeddial-right" direction="up"></p-speedDial>
      </div>
    </div>
    <!-- end Button Plus -->

    <!-- start ADD Description PopPup Dialog -->
    <p-dialog header="ADD" [(visible)]="DescriptionADD" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Description -->
          <div class="field pt-3">
            <label for="Description" class="block TextColorGray">{{'descriptionPersonal' | translate}} : </label>
            <textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="DescriptionADD=false">&nbsp;
          {{'reset' | translate}}
        </button>
        <button pButton>{{'submit' | translate}}</button>
      </ng-template>
    </p-dialog>
    <!-- end ADD Description PopPup Dialog -->
    <!-- start EDIT Description PopPup Dialog -->
    <p-dialog header="EDIT" [(visible)]="DescriptionEDIT" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Description -->
          <div class="field pt-3">
            <label for="Description" class="block TextColorGray">{{'descriptionPersonal' | translate}} : </label>
            <textarea id="float-input" value="{{info[0].biographie}}" #biogr rows="5" cols="30" pInputTextarea></textarea>
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="DescriptionEDIT=false">&nbsp;
          {{'reset' | translate}}
        </button>
        <button (click)="updatedescription(biogr.value)" pButton>{{'submit' | translate}}</button>
      </ng-template>
    </p-dialog>
    <!-- end EDIT Description PopPup Dialog -->
  </p-accordionTab>
</p-accordion>
