//button plus
:host ::ng-deep {
  .speeddial-tooltip {
    .p-speeddial-direction-up {
      &.speeddial-right {
        right: 0;
        bottom: 0;
      }
    }
  }
}

.alignText{
  text-align:center;
}
.TextColorGray{
color:gray;
}

#Image{
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  text-align: center;
}

#inputFle{
 
}
