<h2 style="color:#12c5ed">Competences</h2>


<p-accordion>
  <p-accordionTab header="Competences">

    <ul>
      <li>Example : Html <br>
          Level : {{Level}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i (click)="CompetenceEDITfunction()" class="pi pi-pencil"></i>&nbsp;&nbsp;
        <i class="pi pi-trash"></i>&nbsp;&nbsp;
      </li>

    </ul>

    <!-- start Button Plus -->
    <div class="card">
      <div style="height: 90px; position: relative;" class="speeddial-tooltip">
        <p-speedDial (click)="CompetenceADDfunction()" className="speeddial-right" direction="up"></p-speedDial>
      </div>
    </div>
    <!-- end Button Plus -->

    <!-- start ADD Competence PopPup Dialog -->
    <p-dialog header="ADD" [(visible)]="CompetenceADD" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Competence -->
          <div class="field">
            <label for="Competence" class="block TextColorGray"> Name Competence : </label>
            <input id="Competence" type="username" pInputText />
          </div>
          <div class="field">
            <label for="Competence" class="block TextColorGray"> Level : {{Level}} </label>
            <input id="Competence" type="text" pInputText readonly/>
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="CompetenceADD=false">&nbsp;
          Reset
        </button>
        <button pButton>Submit</button>
      </ng-template>
    </p-dialog>
    <!-- end ADD Competence PopPup Dialog -->
    <!-- start EDIT Competence PopPup Dialog -->
    <p-dialog header="EDIT" [(visible)]="CompetenceEDIT" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Competence -->
          <div class="field">
            <label for="Competence" class="block TextColorGray"> Name Competence : </label>
            <input id="Competence" type="username" pInputText />
          </div>
          <div class="field">
            <label for="Competence" class="block TextColorGray"> Level : {{Level}} </label>
            <input id="Competence" type="text" pInputText readonly/>
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="CompetenceEDIT=false">&nbsp;
          Reset
        </button>
        <button pButton>Submit</button>
      </ng-template>
    </p-dialog>
    <!-- end EDIT Competence PopPup Dialog -->
  </p-accordionTab>
</p-accordion>
