<h2 style="color:#12c5ed">Competences</h2>


<p-accordion>
  <p-accordionTab header="Competences">

    <ul *ngFor="let compt of competemce">
      <li>
          Titre : {{compt.titre}}<br>
          Level : {{compt.niveau}}<br>
          Category : {{compt.categorie}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i (click)="CompetenceEDITfunction(compt)" class="pi pi-pencil"></i>&nbsp;&nbsp;
        <i (click)="DeleteCompetence(compt.id)" class="pi pi-trash"></i>&nbsp;&nbsp;
      </li>

    </ul>

    <!-- start Button Plus -->
    <div class="card">
      <div style="height: 90px; position: relative;" class="speeddial-tooltip">
        <p-speedDial (click)="CompetenceADDfunction()" className="speeddial-right" direction="up"></p-speedDial>
      </div>
    </div>
    <!-- end Button Plus -->

    <!-- start ADD Competence PopPup Dialog -->
    <p-dialog header="ADD" [(visible)]="CompetenceADD" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Competence -->
          <div class="field">
            <label for="Competence" class="block TextColorGray"> Name Competence : </label>
            <input id="Competence" #titre type="username" pInputText />
          </div>
          <div class="field">
            <label for="Competence" class="block TextColorGray"> Level : {{Level}} </label>
            <input id="Competence" #niveau type="text" pInputText />
          </div>
          <div class="field">
            <label for="Certificate" class="block TextColorGray">Select Category : </label>
            <select name="select"  [(ngModel)]="categorie1" id="selectCatogory">
              <option class="option" ></option>
              <option class="option" >Web developer</option>
              <option class="option" >Front-then developer</option>
              <option class="option" >Back-end developer</option>
              <option class="option">Database manager</option>
              <option class="option" >Mobile developer</option>
              <option class="option" >Management controller</option>
              <option class="option" >Others...</option>
            </select>
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="CompetenceADD=false">&nbsp;
          Reset
        </button>
        <button (click)="setcompetence(titre.value,niveau.value)" pButton>Submit</button>
      </ng-template>
    </p-dialog>
    <!-- end ADD Competence PopPup Dialog -->
    <!-- start EDIT Competence PopPup Dialog -->
    <p-dialog header="EDIT" [(visible)]="CompetenceEDIT" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
      [draggable]="false" [resizable]="false">

      <div class="grid">
        <div class="col alignText">
          <!-- Competence -->
          <div class="field">
            <label for="Competence" class="block TextColorGray"> Name Competence : </label>
            <input id="Competence" value="{{titre_ }}" type="username" #titres pInputText />
          </div>
          <div class="field">
            <label for="Competence" class="block TextColorGray"> Level : {{Level}} </label>
            <input id="Competence" value="{{niveau_}}" type="text" #niveaus pInputText readonly/>
          </div>
          <div class="field">
            <label for="Certificate" class="block TextColorGray">Select Category : </label>
            <select name="select" value="{{cat_}}" #cats id="selectCatogory">
              <option class="option" ></option>
              <option class="option" >Web developer</option>
              <option class="option" >Front-then developer</option>
              <option class="option">Back-end developer</option>
              <option class="option">Database manager</option>
              <option class="option" >Mobile developer</option>
              <option class="option" >Management controller</option>
              <option class="option" >Others...</option>
            </select>
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <button style="background-color: #ff3838;" pButton (click)="CompetenceEDIT=false">&nbsp;
          Reset
        </button>
        <button (click)=" updateCompetence(titres.value,niveaus.value,cats.value)"  pButton>Submit</button>
      </ng-template>
    </p-dialog>
    <!-- end EDIT Competence PopPup Dialog -->
  </p-accordionTab>
</p-accordion>
