      <h2 style="color:#12c5ed">Formations</h2>


<p-accordion>
  <p-accordionTab header="Formations">

    <div class="card" >
      <p-timeline [value]="formation">
        <ng-template pTemplate="content" let-event>
          <small class="p-text-primary">{{event.ecole}}</small><br>
          <small class="p-text-secondary">{{event.periode}}</small><br>
          <small class="p-text-secondary">{{event.categorie}}</small>
        </ng-template>
        <ng-template pTemplate="opposite" let-event>
          {{event.diplome}}<br>
          <i (click)="formationEDITfunction(event)" class="pi pi-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          <i (click)="DeleteFormation(event.id)" class="pi pi-trash"></i>&nbsp;&nbsp;
        </ng-template>
      </p-timeline>
    </div>

     <!-- start Button Plus -->
     <div class="card">
      <div style="height: 90px; position: relative;" class="speeddial-tooltip">
        <p-speedDial (click)="FormationADDfunction()" className="speeddial-right" direction="up"></p-speedDial>
      </div>
    </div>
    <!-- end Button Plus -->
   <!-- start ADD Formation PopPup Dialog -->
   <p-dialog header="ADD" [(visible)]="FormationADD" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
   [draggable]="false" [resizable]="false">

   <div class="grid">
     <div class="col alignText">
       <!-- Formation -->
       <div class="field">
         <label for="Formation" class="block TextColorGray">Diploma : </label>
         <input id="Formation" #diplome type="username" pInputText />
       </div>
       <div class="field">
        <label for="Formation" class="block TextColorGray">School : </label>
        <input id="Formation" #ecole  type="username" pInputText />
      </div>
      <div class="field">
        <label for="Formation" class="block TextColorGray">Period : </label>
        <input id="Formation" #period type="date" pInputText />
      </div>
      <div class="field">
        <label for="Certificate" class="block TextColorGray">Select Category : </label>
        <select name="select" #catego id="selectCatogory">
          <option class="option" #catego ></option>
          <option class="option" #catego>Web developer</option>
          <option class="option" #catego >Front-then developer</option>
          <option class="option" #catego >Back-end developer</option>
          <option class="option" #catego >Database manager</option>
          <option class="option" #catego >Mobile developer</option>
          <option class="option" #catego >Management controller</option>
          <option class="option" #catego >Others...</option>
        </select>
      </div>
     </div>
   </div>

   <ng-template pTemplate="footer">
     <button style="background-color: #ff3838;" pButton (click)="FormationADD=false">&nbsp;
       Reset
     </button>
     <button (click)="setformation(diplome.value,ecole.value,period.value,catego.value)" pButton>Submit</button>
   </ng-template>
 </p-dialog>
 <!-- end ADD Formation PopPup Dialog -->
 <!-- start EDIT Formation PopPup Dialog -->
 <p-dialog header="EDIT" [(visible)]="FormationEDIT" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
 [draggable]="false" [resizable]="false">

 <div class="grid">
   <div class="col alignText">
     <!-- Formation -->
     <div class="field">
       <label for="Formation" class="block TextColorGray">Diploma : </label>
       <input id="Formation" value="{{diplomes}}" #diplomess type="username" pInputText />
     </div>
     <div class="field">
      <label for="Formation" class="block TextColorGray">School : </label>
      <input id="Formation" value="{{ecoles}}" #ecoless type="username" pInputText />
    </div>
    <div class="field">
      <label for="Formation" class="block TextColorGray">Period : </label>
      <input id="Formation" value="{{periods}}" #periodess type="date" pInputText />
    </div>
    <div class="field">
      <label for="Certificate" class="block TextColorGray">Select Category : </label>
      <select name="select" value="{{categories}}" #categoriess id="selectCatogory">
        <option class="option" ></option>
        <option class="option" >Web developer</option>
        <option class="option" >Front-then developer</option>
        <option class="option" >Back-end developer</option>
        <option class="option" >Database manager</option>
        <option class="option" >Mobile developer</option>
        <option class="option" >Management controller</option>
        <option class="option" >Others...</option>
      </select>
    </div>
   </div>
 </div>

 <ng-template pTemplate="footer">
   <button style="background-color: #ff3838;" pButton (click)="FormationEDIT=false">&nbsp;
     Reset
   </button>
   <button (click)=" updateFormation(diplomess.value,ecoless.value,periodess.value,categoriess.value)" pButton>Submit</button>
 </ng-template>
</p-dialog>
<!-- end EDIT Formation PopPup Dialog -->
  </p-accordionTab>
</p-accordion>

