<h2 style="color:#12c5ed" >Certificate</h2>



<p-accordion>
  <p-accordionTab header="Certificate">

    <div class="card" *ngFor="let cert of certifcation">
      <i (click)="CertificateEDITfunction(cert)" class="pi pi-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;
      <i (click)=" DeleteCert(cert.id)" class="pi pi-trash"></i>&nbsp;&nbsp;<br>
      <span><strong>Title Certificate : {{cert.titre}}</strong> </span><br>
      <span><strong>Organization : {{cert.organisme}} </strong> </span><br>
      <span><strong>Category : {{cert.categorie}} </strong> </span>
    </div>

     <!-- start Button Plus -->
     <div class="card">
      <div style="height: 90px; position: relative;" class="speeddial-tooltip">
        <p-speedDial (click)="CertificateADDfunction()" className="speeddial-right" direction="up"></p-speedDial>
      </div>
    </div>
    <!-- end Button Plus -->
   <!-- start ADD Certificate PopPup Dialog -->
   <p-dialog header="ADD" [(visible)]="CertificateADD" [modal]="true" [style]="{width: '100vw'}" [maximizable]="true"
   [draggable]="false" [resizable]="false">

   <div class="grid">
     <div class="col alignText">
       <!-- Certificate -->
       <div class="field">
         <label for="Certificate" class="block TextColorGray">Title  Certificate : </label>
         <input id="Certificate" #titre type="username" pInputText />
       </div>
       <div class="field">
        <label for="Certificate" class="block TextColorGray">Organization : </label>
        <input id="Certificate" #lien type="username" pInputText />
      </div>
      <div class="field">
        <label for="Certificate" class="block TextColorGray">Select Category : </label>
        <select name="select" #catego id="selectCatogory">
          <option class="option" ></option>
          <option class="option">Web developer</option>
          <option class="option" >Front-then developer</option>
          <option class="option" >Back-end developer</option>
          <option class="option" >Database manager</option>
          <option class="option" >Mobile developer</option>
          <option class="option" >Management controller</option>
          <option class="option" >Others...</option>
        </select>
      </div>
     </div>
   </div>

   <ng-template pTemplate="footer">
     <button style="background-color: #ff3838;" pButton (click)="CertificateADD=false">&nbsp;
       Reset
     </button>
     <button pButton (click)="setcert(titre.value,lien.value,catego.value)">Submit</button>
   </ng-template>
 </p-dialog>
 <!-- end ADD Certificate PopPup Dialog -->
  <!-- start EDIT Certificate PopPup Dialog -->
  <p-dialog header="EDIT" [(visible)]="CertificateEDIT" [modal]="true" [style]="{width: '100vw'}"
  [draggable]="false" [resizable]="false">

  <div class="grid">
    <div class="col alignText">
      <!-- Certificate -->
      <div class="field">
        <label for="Certificate" class="block TextColorGray">Title  Certificate : </label>
        <input id="Certificate" value="{{titres}}" #title type="username" pInputText />
      </div>
      <div class="field">
       <label for="Certificate" class="block TextColorGray">Organization : </label>
       <input id="Certificate" value="{{organismes}}" #link type="username" pInputText />
     </div>
     <div class="field">
      <label for="Certificate" class="block TextColorGray">Select Category : </label>
      <select name="select" value="{{catego}}" #cat id="selectCatogory">
        <option class="option" ></option>
        <option class="option" >Web developer</option>
        <option class="option" >Front-then developer</option>
        <option class="option" >Back-end developer</option>
        <option class="option" >Database manager</option>
        <option class="option" >Mobile developer</option>
        <option class="option" >Management controller</option>
        <option class="option" >Others...</option>
      </select>
    </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button style="background-color: #ff3838;" pButton (click)="CertificateEDIT=false">&nbsp;
      Reset
    </button>
    <button (click)="updatecerticate(title.value,link.value,cat.value)" pButton>Submit</button>
  </ng-template>
</p-dialog>
<!-- end EDIT Certificate PopPup Dialog -->
  </p-accordionTab>
</p-accordion>

