
<div class="container-fluid">
  <div class="row">
<!-- left side -->
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 bg_color2 ">

      <div class="bg_color1 rounded pt-2">
        <img src="./assets/images/profil.png" class="rounded profil"
            width="150" height="140" alt="profil" />
      </div>

      <div class="pt-5 pl-4 pb-5 padding bg_color1 mb-5 rounded">

       <div>
        <h5>Contact :</h5>
        <span>234567890</span><br>
        <span>234567890</span>
       </div><hr>

       <div>
         <h5>Mail :</h5>
         <p>iya@gmail.com</p>
       </div><hr>

       <div>
         <h5>Social networks : </h5>
         <span>Stackoverflow</span><br>
         <span>Github</span><br>
         <span>Linkedin</span>
       </div><hr>

       <div>
         <h5>Langue : </h5>
         <span>Francais</span><br>
         <span>Anglais</span>
       </div>

      </div>
    </div>
<!-- right side -->
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 bg_color2 ">

      <div class="text-center pt-5">
        <h1>template1 works!</h1>
        <hr>
        <div>
          <h5>Address</h5>
          <span>Univ Yaounde 1</span>
        </div>
      </div>

      <div class="padding_obj">
        <h5>Objective</h5>
        <p>Objectif <br>
          Objectif Objectif</p>
      </div>

      <div class="pt-3">
        <h5>Doplome</h5>
        <p>BEPC <br>
          Probatoire <br>
          Baccalaureat </p>
      </div>

      <div class="pt-3">
        <h5>Formation</h5>
        <p>Formation</p>
      </div>

      <div class="pt-3">
        <h5>Experiences Profionnels</h5>
        <p>Experiences Profionnels</p>
      </div>

    </div>

  </div>
</div>
